@layout('main')
@section('title')
<h4 class="page-title pull-left">Produtos</h4>
@endsection
@section('area')
<li><a href="/products">produtos</a></li>
@endsection
@section('function')
<li><span>Editar</span></li>  
@endsection
@section('content')

@endsection